.main_about {
    background-image: url(../img/main_about.webp);
    background-size: cover;
    background-position: center;
}

.why_us {
    margin-top: 120px;
    padding-bottom: 120px;
}

.why_us_block {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.why_us_block div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.why_us_block p {
    line-height: 35px;
    font-size: 20px;
}

.why_us_block img {
    border-radius: 20px;
}

.reviews {
    padding-bottom: 120px;
}